{% import "jinja2_macros.txt" as macros %}
Source: {{ name }}
Section: devel
Priority: optional
Maintainer: {{ macros.maintainer }}
Build-Depends: {{ macros.deb_build_deps }}

Package: {{ name }}
Architecture: any
Depends: ${shlibs:Depends}
Description: {{ macros.summary -}}
{% filter indent(1) %}{{ "" }}
{{ macros.description() }}
{%- endfilter %}

