src/Debug
src/.vs
.vs/
CppProperties.json
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/MiniSat/.deps/
src/MiniSat/Makefile
src/MiniSat/Makefile.in
src/MiniSat/libminisat.a
src/MiniSat/libminisat_a-IntPropagator.o
src/MiniSat/libminisat_a-Solver.o
src/Release/
src/Sketch.vcxproj.user
src/SketchSolver/.deps/
src/SketchSolver/InputLexer.cpp
src/SketchSolver/InputParser.cpp
src/SketchSolver/InputParser.hpp
src/SketchSolver/InputParser.output
src/SketchSolver/Makefile
src/SketchSolver/Makefile.in
stamp-h1
src/SketchSolver/cegis
src/SketchSolver/*.o
src/SketchSolver/libcegis.a
src/SketchSolver/*.o.tmp
/cmake-build-debug
